/* import bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


body {
    margin: 100px;
}

.card-img-top {
    max-height: 20rem;
    min-height: 20rem;
}

.i__navGrid {
    color: white
}

